<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deskno</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <div id="menu">
        <div id="create" onclick="create()"><strong>+</strong></div>
        <div id="settings" onclick="settings()"><img src="../static/img/settingsLogo.png" width="25px"></div>
    </div>
    
    <script src="../static/script.js"></script>
</body>
</html>